<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","area":"header","align":"wide","className":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content group"},"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"aloha/cursor"} /-->

<!-- wp:template-part {"slug":"footer-reveal","area":"footer"} /-->